* {
  box-sizing: border-box;
}
body {
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'Segoe UI';
}
footer {
  font-size: 9pt;
  padding: 10px;
}
.prettyprint {
  margin: 0 !important;
}
a {
  color: #ff00ea;
  text-decoration: none;
}
a:link {
  color: #ff00ea;
  text-decoration: none;
}
a:visited {
  color: #ff00ea;
  text-decoration: none;
}
a:active {
  color: #ff00ea;
  text-decoration: none;
}
a:hover {
  color: #ff00ea;
  text-decoration: underline;
}
p {
  margin: 0;
  padding: 5px 0;
}
h1 {
  font-size: 2.6em;
  font-family: 'consolas', 'Andale Mono', 'Courier', 'Courier New';
}
h1.formatted {
  font-family: 'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Segoe UI Light';
  font-weight: normal;
}
h3,
h4 {
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'Segoe UI';
  font-weight: normal;
}
h2 {
  font-family: 'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Segoe UI Light';
  font-weight: normal;
}
.hljs {
  white-space: pre-wrap;
}
.resume-container {
  border: 1px solid black;
}
.breaker {
  clear: both;
}
#tabbed-container {
  display: block;
}
#tabbed-container .format-label {
  border: 1px solid black;
  font-size: .9em;
  display: inline-block;
  padding: 10px;
  margin: 0 0 -1px 0;
}
#tabbed-container #formatted-label {
  margin-left: -10px;
}
#tabbed-container #formatted-label.in-use-format {
  border-bottom: 1px solid white;
}
#tabbed-container #json-label.in-use-format {
  border-bottom: 1px solid white;
}
#formatted-top {
  padding: 0 10px;
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'Segoe UI';
  font-weight: normal;
}
#formatted-top h2 {
  font-size: 2em;
  margin-bottom: 5px;
  /* grid = 5 */
  border-bottom: 1px solid black;
}
#formatted-top .section-header {
  margin: 10px -10px 5px -10px;
  padding: 0 10px;
}
#formatted-top .formatted-skills-container {
  color: #999999;
}
#formatted-top .formatted-skills-container #formatted-skills p {
  padding: 0;
}
#formatted-top .formatted-skills-container #formatted-skills h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}
#formatted-top #formatted-name #formatted-candidate-name-given-name {
  font-family: 'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Segoe UI Light';
  font-weight: normal;
}
#formatted-top #formatted-name #formatted-candidate-name-sur-name {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Segoe UI';
  font-weight: normal;
}
#formatted-top #formatted-name #formatted-candidate-name-space {
  display: none;
}
#formatted-top #formatted-name .location-info {
  display: block;
}
#formatted-top #formatted-name .candidate-info-seperator {
  display: none;
}
#formatted-top #formatted-experience-container {
  page-break-inside: avoid;
}
#formatted-top #formatted-experience-container #formatted-experience h3 {
  font-size: 1.2em;
}
#formatted-top #formatted-experience-container #formatted-experience h4 {
  font-size: 1.2em;
  margin: 5px 0;
}
#formatted-top #formatted-experience-container #formatted-experience li {
  font-size: 0.9em;
}
#formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container {
  page-break-inside: avoid;
}
#formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-company-header {
  background-color: #0099FF;
  margin: 0 -10px;
  padding: 10px;
}
#formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-company-header .formatted-company-name {
  display: block;
  margin: 0;
  padding: 10px;
  color: white;
}
#formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-company-header .formatted-company-name .contractor-decoration {
  display: none;
}
#formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container {
  float: none;
  display: block;
}
#formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container .formatted-title-and-date-container {
  display: block;
  line-height: normal;
  color: white;
}
#formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container .formatted-title-and-date-container > p {
  font-size: 0.9em;
  padding: 0;
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'Segoe UI';
  font-weight: normal;
  color: white;
}
#formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container .formatted-title-and-date-container .formatted-title-row {
  display: block;
  float: left;
}
#formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container .formatted-title-and-date-container .formatted-date-row {
  color: white;
  display: block;
  float: right;
}
#formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-accomplishments {
  page-break-inside: avoid;
}
#formatted-top #formatted-experience-container #formatted-experience #formatted-top #formatted-experience-header {
  border-bottom: none;
}
@media (min-width: 600px) {
  #formatted-top .section-header {
    margin: 10px -10px 5px -10px;
    padding: 0 10px;
  }
  #formatted-top #formatted-experience-container #formatted-experience h3 {
    font-size: 1.5em;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-company-header {
    margin: 0 -10px;
    padding: 0 10px;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-company-header .formatted-company-name {
    display: block;
    margin: 0;
    padding: 10px;
    color: white;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-company-header .formatted-company-name .contractor-decoration {
    display: none;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container {
    float: none;
    display: block;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container .formatted-title-and-date-container {
    display: block;
    line-height: normal;
    color: white;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container .formatted-title-and-date-container > p {
    font-size: 0.9em;
    padding: 0;
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Segoe UI';
    font-weight: normal;
    color: white;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container .formatted-title-and-date-container .formatted-title-row {
    display: block;
    float: left;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-accomplishments {
    page-break-inside: avoid;
  }
  #formatted-top #formatted-experience-container #formatted-experience #formatted-top #formatted-experience-header {
    border-bottom: none;
  }
  .formatted-company-name {
    line-height: 60px;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: white;
  }
  .formatted-title-and-date-alignment-container {
    line-height: 60px;
    float: none;
    height: 60px;
    display: inline-block;
  }
  header,
  article,
  footer {
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
  }
  .formatted-title-and-date-alignment-container {
    float: right;
    padding: 10px 0;
  }
  .formatted-title-and-date-container {
    display: block;
  }
}
@media (min-width: 900px) {
  header,
  article,
  footer {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
  }
  #formatted-top {
    padding: 0 40px;
  }
  #formatted-top .section-header {
    margin: 40px -40px 5px -40px;
    padding: 0 40px;
  }
  #formatted-top #formatted-name .location-info {
    display: inline;
  }
  #formatted-top #formatted-name .candidate-info-seperator {
    display: inline;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-company-header {
    margin: 0 -40px;
    padding: 0 40px;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-company-header .formatted-company-name {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: white;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-company-header .formatted-company-name .contractor-decoration {
    display: none;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container {
    line-height: 60px;
    float: right;
    height: 60px;
    padding: 0;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container .formatted-title-and-date-container {
    display: inline-block;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container .formatted-title-and-date-container .formatted-title-row {
    float: none;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-title-and-date-alignment-container .formatted-title-and-date-container .formatted-date-row {
    float: none;
  }
  #formatted-top #formatted-experience-container #formatted-experience .formatted-experience-instance-container .formatted-accomplishments {
    page-break-inside: avoid;
  }
  #formatted-top #formatted-experience-container #formatted-experience #formatted-top #formatted-experience-header {
    border-bottom: none;
  }
}
@media print {
  header {
    display: none !important;
  }
  .downloads {
    display: none !important;
  }
  #tabs {
    display: none !important;
  }
  .resume-container {
    border: none;
  }
  .formatted-date-row,
  .formatted-title-row {
    color: black !important;
  }
  .formatted-company-header {
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .formatted-company-name {
    color: black;
  }
  .section-header {
    margin-top: 60px;
  }
  #formatted-candidate-name {
    margin-top: 20px;
  }
}
