body {
    font-family: 'consolas', 'Andale Mono', 'Courier', 'Courier New';
}

footer {
    font-size: 9pt;
    padding: 10px;

}

.title {
    font-family: 'consolas', 'Andale Mono', 'Courier', 'Courier New';
    font-size: 40pt;
    padding: 10px 10px;
}

.hljs
{
    white-space: pre-wrap;
}

@media (min-width: 600px)
{
    header, article, footer {
         max-width:600px;
         margin-left: auto;
         margin-right: auto;
    }
}