* {
    box-sizing: border-box;
}

body {
    font-family: 'consolas', 'Andale Mono', 'Courier', 'Courier New';
}

footer {
    font-size: 9pt;
    padding: 10px;

}

a {
    color: rgb(255, 0, 234);
    text-decoration: none;
}
    
a:link{
    color: rgb(255, 0, 234);
    text-decoration: none;
}
a:visited{
    color: rgb(255, 0, 234);
    text-decoration: none;
} 
    
a:active {
    color: rgb(255, 0, 234);
    text-decoration: none;    
}

a:hover {
    color: rgb(255, 0, 234);
    text-decoration: underline;
}

.title {
    font-family: 'consolas', 'Andale Mono', 'Courier', 'Courier New';
    font-size: 40pt;
    padding: 10px 10px;
}

.hljs
{
    white-space: pre-wrap;
}

#tabbed-container {
    display: block;
    
}

#json-label {
    display: inline-block;
    padding: 5px;
}

#formatted-label {
    display: inline-block;
    padding: 5px;   
}

.in-use-format {
    background-color: #CCCCFF;
    border-left: 1px solid #4444CC;
    border-top: 1px solid #4444CC;
    border-right: 1px solid #4444CC;
}

.resume-container { 
    border: 1px solid black;
}

.prettyprint {
    margin: 0 !important;
}

.format-label
{
    border-left: 1px solid #8888FF;
    border-top: 1px solid #8888FF;
    border-right: 1px solid #8888FF;

    font-size: .9em;
}

#formatted-top {
    padding: 10px;
}

#formatted-top h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px; /* grid = 5 */

    border-bottom: 1px solid black;
}


#formatted-skills h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

#formatted-skills p
{
padding :0;
}


#formatted-experience h3 {
    font-size : 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

p {
    margin: 0;
    padding  : 5px 0;
}

#formatted-candidate-name {
    margin: 0px 0px 5px 0px;
}

#formatted-candidate-name-given-name { 
    font-family: 'HelveticaNeue-Thin', 'Helvetica Neue Thin', 'Segoe UI Light';
    font-weight: normal;
}

#formatted-candidate-name-sur-name {
    font-family: 'HelveticaNeue-Medium','Helvetica Neue Medium', 'Segoe UI';
    font-weight: normal;
}

#formatted-candidate-name-space {
    display:none;
}

h1, h2 {
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Segoe UI';
    font-weight :normal;

}

h3, h4 {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Segoe UI Light';
    font-weight: normal;
}

@media (min-width: 600px)
{
    header, article, footer {
         max-width:570px;
         margin-left: auto;
         margin-right: auto;
    }
}

@media (min-width: 900px)
{
    header, article, footer {
         max-width:870px;
         margin-left: auto;
         margin-right: auto;
    }
}